In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
%matplotlib inline

In [177]:
def rmsle(y_true, y_pred):
   assert len(y_true) == len(y_pred)
   return np.square(np.log(y_pred + 1) - np.log(y_true + 1)).mean() ** 0.5

### Считываем данные

In [178]:
df = pd.read_csv('./train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Преобразования
В X - площадь домов
В y - цена

Формат - 2D массив [количество примеров, количество фич]

Здесь можно отнормировать данные, преобразовать признаки и тд

In [179]:
X = df[['LotArea', 'MSSubClass', 'LotFrontage']].fillna(0).values.reshape(-1, 3)
y = df['SalePrice'].values.reshape(-1, 1)

### Разделение на train и validation
Обучать будем на 75% данных, проверять на 25%

In [180]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train = X_train
y_train = y_train
X_test = X_test
y_test = y_test

#### Обучаем нашу модель и делаем предсказания

In [181]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [182]:
prediction = lr.predict(X_test)

In [183]:
mae(y_test, prediction)

57324.261901630831

Средняя абсолютная ошибка - 57к долларов для этой модели

In [184]:
rmsle(y_test, prediction)

0.40943121669338522